.home-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.home-content {
    padding-top: 155px;
    padding-bottom: 155px;
}

.text-title {
    font-size: 38px;
    line-height: 60px;
    letter-spacing: -0.015em;
}

.text-subtitle {
    font-size: 18px;
    line-height: 31px;
    letter-spacing: -0.015em;
    color:#9e9e9e;
    margin-top: 165px;
}

.home-text {
    padding-left: 100px;
}

.main-image {
    width: 100%;
    
}